body {
    background-color: rgb(239, 239, 239);
}

#search-bar {
    margin-bottom: 10px;
}

#search-bar .dropdown-toggle {
    border-radius: 0;
}

#audiobook-container {
    margin: 0 15px;
}

#series-container {
    margin: 0 15px;
}

.audiobook {
    padding: 0;
    margin-bottom: 15px;
    margin-left: 5px;
}

.audiobook img {
    display: block;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.audiobook img:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}

.series {
    padding: 0;
    margin-bottom: 15px;
    margin-left: 15px;
}

.series .img {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    height: 250px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.series:hover .img {
    border-color: gray;
    box-sizing: border-box;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}

.series:hover {
    text-decoration: none;
}

.book-modal img, .book-modal a {
    float: left;
}

.book-modal img {
    height: 250px;
    margin-right: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.book-modal a {
    margin: 10px 10px 10px 0;
}