body {
    background-color: rgb(239, 239, 239);
}

#search-bar {
    margin-bottom: 10px;
}

#search-bar .dropdown-toggle {
    border-radius: 0;
}

#audiobook-container {
    margin: 0 15px;
}

#series-container {
    margin: 0 15px;
}

.audiobook {
    padding: 0;
    margin-bottom: 15px;
    margin-left: 15px;
}

.audiobook img {
    display: block;
    margin: 0 auto;
    border: 2px solid transparent;
    border-radius: 4px;
}

.audiobook img:hover {
    cursor: pointer;
    border-color: gray;
    box-sizing: border-box;
}

.series {
    padding: 0;
    margin-bottom: 15px;
    margin-left: 15px;
}

.series .img {
    display: block;
    margin: 0 auto;
    border: 2px solid transparent;
    border-radius: 4px;
    height: 250px;
}

.series:hover .img {
    /*cursor: pointer;*/
    border-color: gray;
    box-sizing: border-box;
}

.series:hover {
    text-decoration: none;
}

.book-modal img, .book-modal a {
    float: left;
}

.book-modal img {
    height: 250px;
}

.book-modal a {
    margin-left: 10px;
    margin-top: 10px;
}