body {
    background-color: rgb(239, 239, 239);
}

body > .container {
    padding: 15px;
}

#audiobook-search {
    margin-bottom: 15px;
    margin-left: 15px;
    height: 45px;
}

#audiobook-container .audiobook {
    margin-bottom: 15px;
}